body{
    margin : 0px;

}

h1{
    background-color: aqua;
    color : Black;
    padding : 20px;
    text-align : center;
}


.logo{
    font-family: Anton;
    font-size: 40px;
}

.inputs input{
    font-size: 20px;
    margin: 20px 0px;
}